
<h2>Verify Email</h2>

{{ if eq .Data.requestType "guide" }}
  <p>Follow this link to access your Free 3D Printing Guide:</p>
{{ else if eq .Data.requestType "commercial_license" }}
  <p>Follow this link to access your Commercial License:</p>
{{ else }}
  <p>Follow this link to verify your email:</p>
{{ end }}
<p><a href="{{ .ConfirmationURL }}">
  {{ if eq .Data.requestType "guide" }}
    Free Guide
  {{ else if eq .Data.requestType "commercial_license" }}
    Commercial License
  {{ else }}
    Verify Email
  {{ end }}
</a></p>
